;; shadow-cljs configuration
{:source-paths ["src" "test"]
 :dependencies []
 :builds {:module {:target :node-library
                   :output-to "dist/main.js"
                   :output-dir "dev/"
                   :exports-var transform-json/get-json}
          :test {:target :node-test
                 :autorun true
                 :output-to "test-dist/test.js"}}}
